main {
    margin: 2%;
}

section {
    padding: 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}   

section:hover{
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

section h4::after {
    content: '';
    display: block;
    height: 3px;
    width: 50%;
    background-color: var(--tom-vermelho);
    margin: 10px auto 0;
    border-radius: 2px;
}

.criar-tarefa {
    background-color: var(--tom-azul);
    position: relative;
    overflow: hidden;
}

.tarefas-container {
    display: flex;
    gap: 2%;
    margin: 5% 20px 20px 20px;
}    

.tarefas-container section {
    width: 100%;
    position: relative;
}

.lista-tarefas {
    background-color: var(--tom-verde);
    position: relative;
    padding: 20px;
}

.tarefas-fixadas {
    background-color: var(--tom-amarelo);
    position: relative;
}

.tarefas-container section h4 {
    position: relative;
}

.paginacao {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginacao button {
    padding: 10px 15px;
    background-color: var(--tom-vermelho);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.paginacao button:hover {
    background-color: var(--tom-vermelho-2);
}

.paginacao span {
    color: var(--tom-cinza-4);
}

.lista-concluidas {
    background-color: var(--tom-salmao);
    position: relative;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 3%;
}

.lista-concluidas .colunas {
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.lista-concluidas .coluna {
    list-style-type: none;
    padding: 0;
    width: 48%;
}