main {
    display: flex;
    justify-content: center;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
    width: 50%;
    border: 5px solid var(--tom-cinza-3);
    border-radius: 30px;
    box-shadow: 0px 0px 10px var(--tom-cinza-2);
    background-color: var(--tom-salmao);
}

form label {
    height: 50%;
    margin-bottom: 10%;
}

form input {
    height: 90%;
    width: 100%;
    padding: 3%;
    border: none;
    border-radius: 5px;
}

form button {
    height: 100px;
    width: 100%;
    margin-top: 10%;
    background-color: var(--tom-vermelho);
    color: var(--tom-cinza);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: var(--tom-vermelho-2);
}