.criar-tarefa {
    background-color: var(--tom-azul);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.criar-tarefa h4 {
    color: white;
    margin-bottom: 10px;
}

.input-tarefa {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--tom-cinza-2);
    border-radius: 5px;
    font-family: var(--fonte-1);
    text-align: center;
    transition: border-color 0.3s;
}

.input-tarefa:focus {
    border-color: var(--tom-vermelho);
}

.btn-criar {
    background-color: var(--tom-vermelho);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-criar:hover {
    background-color: var(--tom-vermelho-2);
}
