@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Oswald:wght@700&family=Poppins:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

:root {
  --tom-vermelho: #ff6f61;
  --tom-vermelho-2: #ff3f2e; 

  --tom-azul: #92a8d1;
  --tom-azul-2: #9c85d8;
  --tom-azul-3: #533a71;

  --tom-verde: #88b04b;
  --tom-verde-2: #659e2c;
  
  --tom-amarelo: #ffe70d;
  --tom-amarelo-2: #e4ce0b;
  
  --tom-salmao: #ffa07a;
  --tom-salmao-2: #ff8a5c;

  --tom-cinza: #d3d3d3;
  --tom-cinza-2: #b0b0b0;
  --tom-cinza-3: #1e2a34;
  --tom-cinza-4: #0f1418;

  --fonte-1: 'Poppins', sans-serif;
  --fonte-2: 'Montserrat', sans-serif;
  --fonte-3: 'Outfit', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-1);
  background-color: var(--tom-cinza);
  color: var(--tom-cinza-3);
}

p {
  font-family: var(--fonte-1);
}

h1, h2, h3 {
  font-family: var(--fonte-2);
}

h4, h5, h6 {
  font-family: var(--fonte-3);
}

ul {
  line-height: 1.5;
  list-style: none;
}

ul li {
  margin: 10px 0px;
  padding: 5px;
  border: 1px solid var(--tom-cinza);
  border-radius: 3px;
  transition: background-color 0.6s;
}

ul li:hover {
  background-color: var(--tom-cinza);
}
