.header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    top: 0;
    background-color: var(--tom-vermelho);
}

.titulo {
    position: relative;
    font-size: 32px;
    color: var(--tom-cinza-3);
    text-decoration: none;
    transition: color 0.3s;
}

.titulo:hover {
    color: var(--tom-vermelho-2);
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    margin-right: 10%;
}

.btnContainer button {
    font-family: var(--fonte-3);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--tom-cinza-3);
    transition: background-color 0.3s;
}

.btnCad {
    background-color: var(--tom-azul);
}

.btnCad:hover {
    background-color: var(--tom-azul-2);
}

.btnLogin {
    background-color: var(--tom-amarelo);
}

.btnLogin:hover {
    background-color: var(--tom-amarelo-2);
}

.logout {
    background-color: var(--tom-vermelho-2);
}

.logout:hover {
    background-color: var(--tom-vermelho-3);
}

.btnTema {
    font-family: var(--fonte-3);
    padding: 10px;
    background-color: var(--tom-verde);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnTema:hover {
    background-color: var(--tom-verde-2);
}