.listaTarefas {
    background-color: var(--tom-verde);
    padding: 20px;
}

.tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--tom-cinza-2);
    cursor: pointer;
}

.tarefa span {
    flex-grow: 1;
}

.paginacao {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginacao button {
    padding: 10px 15px;
    background-color: var(--tom-vermelho);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.paginacao button:hover {
    background-color: var(--tom-vermelho-2);
}

.paginacao span {
    color: var(--tom-cinza-4);
}

.mensagemVazia {
    margin-top: 2%;
    padding: 2%;
    border-radius: 30px;
    background-color: var(--tom-vermelho);
}